
// -----------------font Size hear---------------

$Heading:36Px;
$peragrap_lg: 18Px;
$peragrap_sm: 12Px;


// -----------------font color hear---------------

$light-color:#e31818;
$mediam-grey-light:#E5E5E5;

$Grey-color:#495057;
$Light-Grey-color:#6C757D;







