
.profile-body{
  
    margin: 100px 0px 50px 0px;
    
    
    .profile{

        width: 99px;
        height: 99px;

        .profile-img{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 1px solid red;
            object-fit: cover;
        }

    }
}
input{
    width: 50%;
    padding: 5px;
    margin: 5px;
    color: black;
    font-weight: 400;

}

label{
    color: black;
    font-weight: 600;
}