*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lora", serif;
    scroll-behavior: smooth;
    font-weight: bold;
    list-style-type: none;

}

.pagenations{
  display: flex;
  justify-content: space-between;
}
